# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
.env
.env.*
!.env.example

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Cache or logs
*.log
.cache/
*.pkl
*.db
*.sqlite

# Test & coverage
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
*.cover
*.py,cover
.hypothesis/

# My data files
app/data/*.json

# database files
merchant_vector_store/
grocery_vector_store/
database/

# user specific overrides for pipeline config
src/swiss_exp_tracker/config.py
src/swiss_exp_tracker/pipeline_agentic/config

.claude/settings.local.json
