interactions:
- request:
    body: '{"query": "Migros", "type": "auto", "numResults": 5, "contents": {"summary":
      {"query": "Migros"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"42c14a018b835c45353c23f8c65ea8f1\",\"resolvedSearchType\":\"\",\"results\":[{\"id\":\"https://www.migros.ch/\",\"title\":\"Migros\",\"url\":\"https://www.migros.ch/\",\"summary\":\"Summary:\\nMigros
        is a major Swiss retailer and supermarket chain. The page appears to be the
        Migros homepage with branding and navigation elements, but the provided text
        is limited and includes some interface artifacts (e.g., \u201CClose dialog
        box,\u201D version numbers). The core takeaway for the user query \u201CMigros\u201D
        is that this is the official Migros site, likely offering access to product
        shopping, store information, customer accounts, promotions, and services typical
        of Migros\u2019 online presence. For a more precise summary, please provide
        additional context or text from the page (e.g., sections on groceries, online
        shop, or loyalty programs).\",\"image\":\"https://www.migros.ch/assets/mgb-favicons/icon-512x512.png\",\"favicon\":\"https://www.migros.ch/assets/mgb-favicons/favicon-32x32.png\"},{\"id\":\"https://corporate.migros.ch/en\",\"title\":\"About
        the Migros Group | Migros\",\"url\":\"https://corporate.migros.ch/en\",\"summary\":\"Migros
        is a Swiss cooperative with a strong focus on responsibility, sustainability,
        and community impact. The corporate site highlights:\\n\\n- About the Migros
        Group: overview of governance, family of topics, and strategic focus.\\n-
        Our purpose: \u201CWhenever we take responsibility, it benefits the world\u201D
        and enables customers to contribute to positive change.\\n- Key areas of work:
        Sustainability, vision, organization, and news, plus governance and membership.\\n-
        Becoming a cooperative member: customers can become co-owners, gaining influence
        and benefits beyond typical shopping.\\n- Current topics and stories[...]
