interactions:
- request:
    body: '{"query": "Migros", "type": "auto", "numResults": 5, "contents": {"summary":
      {"query": "Migros"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"674bbf7b4e7f7d87d4098bfa33647f52\",\"resolvedSearchType\":\"\",\"results\":[{\"id\":\"https://www.migros.ch/de\",\"title\":\"Migros\",\"url\":\"https://www.migros.ch/de\",\"summary\":\"Summary:\\nMigros
        is a major Swiss retailer and cooperative, offering a wide range of products
        and services including groceries, household goods, and consumer services.
        The site serves as the main portal for shopping, store locations, promotions,
        and information about Migros\u2019 cooperative structure, sustainability efforts,
        and customer programs. For precise details, browse the site sections on products,
        services, and Migros\u2019 corporate information.\",\"image\":\"https://www.migros.ch/assets/mgb-favicons/icon-512x512.png\",\"favicon\":\"https://www.migros.ch/assets/mgb-favicons/apple-touch-icon-precomposed.png?v=2\"},{\"id\":\"https://www.migros.ch/en\",\"title\":\"Migros
        supermarket \u2013 Order online and get it delivered to your home ...\",\"url\":\"https://www.migros.ch/en\",\"summary\":\"Migros
        is a Swiss supermarket chain offering online ordering and home delivery. The
        site provides product ranges, store information, and options to shop online
        for groceries and other items.\",\"image\":\"[...]
