interactions:
- request:
    body: '{"query": "Migros", "search_depth": "basic", "max_results": 5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"Migros\",\"follow_up_questions\":null,\"answer\":null,\"images\":[],\"results\":[{\"url\":\"https://en.wikipedia.org/wiki/Migros\",\"title\":\"Migros
        - Wikipedia\",\"content\":\"Migros is Switzerland's largest retail company,
        its largest supermarket chain and largest employer. It is also one of the
        forty largest retailers in the\",\"score\":0.90692574,\"raw_content\":null},{\"url\":\"https://play.google.com/store/apps/details?id=com.inomera.sm\",\"title\":\"Migros
        - Grocery & Food - Apps on Google Play\",\"content\":\"Download the Migros
        app now to shop, order food and make your life easier! Enjoy online shopping
        with Migros quality and assurance.\",\"score\":0.6172364,\"raw_content\":null},{\"url\":\"https://www.facebook.com/tritonnews/videos/check-out-this-floating-grocery-store-captured-by-brookedevard-in-t%C3%BCrkiye-its-a-/530402[...]
