interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.search.brave.com/res/v1/web/search?count=5&q=Migros
  response:
    body:
      string: "{\"type\":\"search\",\"query\":{\"original\":\"Migros\",\"show_strict_warning\":false,\"is_navigational\":true,\"is_news_breaking\":false,\"spellcheck_off\":false,\"country\":\"us\",\"bad_results\":false,\"should_fallback\":false,\"postal_code\":\"\",\"city\":\"\",\"header_country\":\"\",\"more_results_available\":true,\"state\":\"\"},\"infobox\":{\"type\":\"graph\",\"results\":[{\"title\":\"Migros\",\"url\":\"https://en.wikipedia.org/wiki/Migros\",\"is_source_local\":false,\"is_source_both\":false,\"description\":\"Swiss
        retail conglomerate\",\"family_friendly\":true,\"type\":\"infobox\",\"position\":1,\"category\":\"company\",\"long_desc\":\"Migros
        (German pronunciation: [\u02C8mi\u0261ro]) is Switzerland's largest retail
        company, its largest supermarket chain and largest employer. It is also one
        of the forty largest retailers in the world. It is structured in the form
        of a cooperative federation (the Federation of Migros Cooperatives), ...\",\"attributes\":[[\"Native
        name\",\"(in German) Migros-Genossenschafts-Bund<br>(in French) F\xE9d\xE9ration
        des coop\xE9ratives Migros<br>(in Italian) Federazione delle cooperative Migros\"],[\"Company
        type\",\"<a href='https://en.wikipedia.org/wiki/Cooperative'>Cooperative</a>\"],[\"Industry\",\"<a
        href='https://en.wikipedia.org/wiki/Retail'>Retail</a>\"],[\"Founded\",\"August
        1925 (100 years ago) (1925-08)\"],[\"Founder\",\"<a href='https://en.wikipedia.org/wiki/Gottlieb_Duttweiler'>Gottlieb
        Duttweiler</a>\"],[\"Headquarters\",\"<a href='https://en.wikipedia.org/wiki/Zurich'>Zurich</a>,
        <a href='https://en.wikipedia.org/wiki/Switzerland'>Switzerland</a>\"],[\"Products\",\"Supermarkets,
        food industry, petrol, electronics, books, home-wares, etc.\"],[\"Revenue\",\"32.00
        billion <a href='https://en.wikipedia.org/wiki/Swiss_franc'>CHF</a> (2024)\"],[\"Operating
        income\",\"668 million CHF (2021)\"],[\"Number of employees\",\"97,541 (2021)\"]],\"profiles\":[{\"name\":\"Wikipedia\",\"url\":\"https://en.wikipedia.org/wiki/Migros\",\"long_name\":\"en.wikipedia.org\",\"img\":\"https://imgs.search.brave.com/m6XxME4ek8DGIUcEPCqjRoDjf2e54EwL9pQzyzogLYk/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvNjQwNGZhZWY0/ZTQ1YWUzYzQ3MDUw/MmMzMGY3NTQ0ZjNj/NDUwMDk5ZTI3MWRk/NWYyNTM4N2UwOTE0/NTI3ZDQzNy9lbi53/aWtpcGVkaWEub3Jn/Lw\"},{\"name\":\"Facebook\",\"url\":\"https://www.facebook.com/migros\",\"long_name\":\"facebook.com\",\"img\":\"https://imgs.search.brave.com/UPSLokJBKWPdNzHbqH5o3CgD13zMvR3pUTn8bk7hmPM/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zL[...]
