interactions:
- request:
    body: '{"query": "Migros", "search_depth": "basic", "max_results": 5}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.tavily.com/search
  response:
    body:
      string: "{\"query\":\"Migros\",\"follow_up_questions\":null,\"answer\":null,\"images\":[],\"results\":[{\"url\":\"https://en.wikipedia.org/wiki/Migros\",\"title\":\"Migros
        - Wikipedia\",\"content\":\"Migros is Switzerland's largest retail company,
        its largest supermarket chain and largest employer. It is also one of the
        forty largest retailers in the\",\"score\":0.90692574,\"raw_content\":null},{\"url\":\"https://play.google.com/store/apps/details?id=com.inomera.sm&hl=en_US\",\"title\":\"Migros
        - Grocery & Food - Apps on Google Play\",\"content\":\"From groceries to food,
        from organic products to electronics, from cosmetics to care, everything you
        and your home need is now at your fingertips with the Migros app! With Migros
        Sanal Market, you can easily shop for groceries online and have them delivered
        to the address of your choice on the da[...]
